@model healthcare_system.ViewModels.NewTermReservationViewModel


<h2>Dodaja novega termina</h2>

<form asp-controller="Reservation" asp-action="NewReservation" method="post">
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email račun pacienta</label>
        <select asp-for="Email" class="form-control" asp-items="@(ViewData["PatientEmails"] as SelectList)"></select>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationDate" class="form-label">termin pregleda</label>
        <input asp-for="ReservationDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="ReservationDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj nov termin</button>
</form>
