@page
@using healthcare_system.Areas.Identity.Pages;
@model RegisterModel
@{
   
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="center-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="default-form">
            <h2>Ustvari nov račun kot zdravnik</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating input-margin">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="John" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
            </div>
            <div class="form-floating input-margin">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Doe" aria-required="true" />
                <label asp-for="Input.LastName"></label>
            </div>
            <div class="form-floating input-margin">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating input-margin">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating input-margin">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating input-margin">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <!-- Custom property to pick the role -->
            <div class="form-check">
                <input type="radio" asp-for="Input.PickedRole" value="true" class="form-check-input" checked onclick="toggleRoleFields(true)" />
                <label class="form-check-label" asp-for="Input.PickedRole">Doctor</label>
            </div>

            <div class="form-check">
                <input type="radio" asp-for="Input.PickedRole" value="false" class="form-check-input" onclick="toggleRoleFields(false)" />
                <label class="form-check-label" asp-for="Input.PickedRole">Patient</label>
            </div>

            <span asp-validation-for="Input.PickedRole" class="text-danger"></span>

            <!-- Properties for Doctor role -->
            <div id="doctorFields">
                <div class="form-floating input-margin">
                    <select asp-for="Input.Specialization" class="form-select" aria-required="true">
                        @if (Model != null && Model.SpecializationOptions != null)
                        {
                            @foreach (var specialization in Model.SpecializationOptions)
                            {
                                <option value="@specialization">@specialization</option>
                            }
                        }
                    </select>
                    <label asp-for="Input.Specialization"></label>
                </div>

                <!--<div class="form-floating input-margin">
                    <input asp-for="Input.DepartmentId" class="form-control" aria-required="true" />
                    <label asp-for="Input.DepartmentId"></label>
                    <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                </div>-->
            </div>

            <!-- Properties for Patient role -->
            <div id="patientFields" style="display:none;">
                <div class="form-floating input-margin">
                    <input asp-for="Input.Birth" class="form-control" type="datetime-local" />
                    <label asp-for="Input.Birth"></label>
                    <span asp-validation-for="Input.Birth" class="text-danger"></span>
                </div>
                <div class="form-floating input-margin">
                    <select asp-for="Input.Sex" class="form-select">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <label asp-for="Input.Sex">Sex</label>
                    <span asp-validation-for="Input.Sex" class="text-danger"></span>
                </div>
                <div class="form-floating input-margin">
                    <input asp-for="Input.Age" class="form-control" />
                    <label asp-for="Input.Age">Age</label>
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function toggleRoleFields(isDoctor) {
        var doctorFields = document.getElementById("doctorFields");
        var patientFields = document.getElementById("patientFields");

        if (isDoctor) {
            doctorFields.style.display = "block";
            patientFields.style.display = "none";
        } else {
            doctorFields.style.display = "none";
            patientFields.style.display = "block";
        }
    }
</script>
