@model healthcare_system.ViewModels.PatientViewModel

<h2>Create New patient</h2>

<form asp-controller="RegisterUser" asp-action="Create" method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label asp-for="Birth"></label>
        <input asp-for="Birth" type="date" class="form-control" />
        <span asp-validation-for="Birth"></span>
    </div>
    <div>
        <label asp-for="Sex"></label>
        <input asp-for="Sex" class="form-control" />
        <span asp-validation-for="Sex"></span>
    </div>
    <div>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <button type="submit" class="btn-primary">Submit form</button>
</form>